#title {
  padding: 0;
  margin: 20px auto 35px;
  text-align: center;
  color: cadetblue;
  font-family: 'Tangerine', cursive;
  font-size: 2.5rem;
  letter-spacing: 2px;
}

@media (min-width: 500px) {
  #title {
    margin: 18px auto 20px;
    font-size: 3.5rem;
  }
}